@use "@/styles/variables" as *;

.profile-section {
  background-color: $bg; 
  min-height: 100vh;
  padding: $space-xl;

  .inner {
    display: flex;
    flex-direction: column;
    gap: $space-lg;
    max-width: $container-lg;
    margin: 0 auto;
  }

  .profile-main {
    display: flex;
    flex-direction: row;
    gap: $space-lg;
    align-items: flex-start;
    width: 100%;

    //왼쪽 패널 (이름, 활동 요약)
    .profile-left {
      width: 320px; // 왼쪽 고정 넓이
      flex-shrink: 0; // 화면이 줄어도 320px 유지
      display: flex;
      flex-direction: column;
      gap: $space-lg;
    }

    // 오른쪽 패널 (상세 정보 폼)
    .profile-right {
      flex: 1; // 남는 공간 쫙 차지하기
      min-width: 0; // 플렉스 자식 요소 삐져나감 방지
    }
  }
}